.FormTable > * {
	display: flex;
	margin-bottom: 1rem;
	align-items: baseline;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

.FormTable > .no-label > :first-child {
	display: block;
	margin-left: 35%;
	padding-left: 1rem;
	width: 65%;
	flex-shrink: 0;
}

.FormTable > *:not(.no-label) > :first-child {
	display: block;
	width: 35%;
	flex-shrink: 0;
	text-align: right;
	margin-right: 1rem;
}

.FormTable input[type="text"] {
	font-size: inherit;
	padding: 0.2em;
}

.FormTable > * > select, .FormTable > * > input {
	width: 100%;
}

.FormTable .description {
	font-size: 0.8em;
	opacity: 0.6;
	margin-top: 0.5em;
	margin-bottom: 0;
}
