.Type .create-type {
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1.4;
}

.Type .create-type a {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0.5rem;
	margin: 0 -0.5rem;
}

.Type .create-type a:active {
	background: rgba(0, 0, 0, 0.05);
}

.Type .create-type a > i {
	font-size: 2rem;
	width: 2rem;
	text-align: center;
	margin-right: 1rem;
	color: var(--color-primary);
}

.Type .create-type p {
	margin: 0 0 0.2rem;
}

.Type .create-type .name {
	font-weight: 600;
}