.FormTable > * {
	display: flex;
	margin-bottom: 1rem;
	align-items: baseline;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

.FormTable > * > :first-child {
	display: block;
	width: 35%;
	flex-shrink: 0;
	text-align: right;
	margin-right: 1rem;
}

.FormTable input[type="text"] {
	font-size: inherit;
	padding: 0.2em;
}

.FormTable .description {
	font-size: 0.8em;
	font-style: italic;
	opacity: 0.8;
	margin-top: 0.5em;
	margin-bottom: 0;
}
