.MachineDetails {
	background: #f6f6f6;
	padding: 0.5rem;
}
.MachineDetails button {
	font-size: 0.857rem;
}
.MachineDetails .terminal-wrap {
	position: relative;
	background: darken(#29ABE2, 40%);
}
.MachineDetails .terminal-wrap > .Button {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}
