.Settings .Header {
	margin-bottom: 2rem;
}
.Settings > .FormTable {
	width: 100%;
}
.Settings p {
	line-height: 1.5;
}
.Settings .actions {
	text-align: center;
}
.Settings .will-reset {
	padding-left: 3rem;
	padding-right: 3rem;
}
